    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
            <% @listings.each do |listing| %>
                <h1 class="page-header">
                    <%= listing.title %>
                    <small>From RM<%= listing.price %> per night</small>
                </h1>

                <!-- First Blog Post -->
                <h2>
                    Location: <small><%= listing.location %></small>
                </h2>
                <p class="lead">
                    Hosted by <%= listing.user.name %>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on <%= listing.created_at %></p>
                <hr>
                <%= image_tag("property1.jpg", :alt => "rss feed", :class => "img-responsive", :id => "index-img") %>
                <hr>
                <p><%= listing.all_tags%></p>
                <button class="btn btn-default"><%= link_to 'Find Out More', listing_path(listing) %><span class="glyphicon glyphicon-chevron-right"></span></button>
                <br></br>
                <% end %>
                <hr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>
        </div>
      </div>