<div class="text-field">
  <%= editform.label :email %>
  <%= editform.text_field :email, type: 'email' %>
</div>

<div class="text-field">
  <%= editform.label :name %>
  <%= editform.text_field :name, type: 'name' %>
</div>

  <div class="actions">
    <%= editform.submit %>
  </div>
