<div class="container">
    <div class="row">
        <div class="col-md-8">

		<p id="notice"><%= notice %></p>

		<div class="row">
  		<div class="col-sm-2"><p><strong>Name :</strong></p></div>
  		<div class="col-sm-8"><p><%= @user.name %></p></div>
		</div>

		<div class="row">
  		<div class="col-sm-2"><p><strong>Email :</strong></p></div>
  		<div class="col-sm-8"><p><%= @user.email %></p></div>
		</div>

		<h3><%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %></h3>

		<h3>Your Bookings</h3>	
		<br>
		<% @bookings.each do |booking| %>
		<br>
		<h4>
		<%= link_to booking.listing.title, booking.listing %>
		</h4>

		<h4>
		Check-in : <small><%= booking.start_date.strftime('%d %B %Y') %></small>
		</h4>

		<h4>
		Check-out : <small><%= booking.end_date.strftime('%d %B %Y') %></small>
		</h4>

		<h4>
		Number of guests : <small><%= booking.num_guests %></small>
		</h4>

		<h4>
		Price : <small><%= booking.total_price %></small>
		</h4>

		<h4><%= link_to "Cancel Booking", booking, method: :delete, data: { confirm: 'Are you sure?'} %></h4>
		<% end %>

 
        </div>
    </div>
</div>