<nav class="navbar navbar-inverse">
  <div class="container-fluid">
  <div class="navbar-header">
      <a class="navbar-brand" href="localhost:3000">Pairbnb</a>
  </div>    
  <ul class="nav navbar-nav">
    <li id="hover"><%= link_to "Homes", listings_path %></li>
    <% if signed_in? %>
    <li id="hover"><%= link_to "Profile", user_path(current_user) %></li>
    <li id="hover"><%= link_to "Be a Host", new_listing_path %></li>
    <li id="hover"><%= link_to "Sign out", sign_out_path, method: :delete %></li> 
    <% else %>
    <li id="hover"><%= link_to "Login", sign_in_path %></li>
    <li id="hover"><%= link_to "Signup", sign_up_path %></li>
    <li id="hover"><%= link_to "Login with Facebook", "/auth/facebook" %></li>
    <% end %>
    <li id="hover"><%= link_to "About Us", root_url %></li>
  </ul>
  </div>
</nav>
